{% extends 'landing/base.html' %}

{% block title %}
    login
{%endblock%}

{% block content %}
<div class="card">
    <div class="card-body text-center d-flex flex-column align-items-center">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
            </svg></div>

            <div>
                <style>
                     h5{
                         color:red;
                         font-size: 18px;
                     }
                 </style> 
                {% for message in messages %} 
                     <h5>{{message}}</h5>
                {% endfor %}
             </div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Log in</button></div>
            <div class="form-check" style="margin-left: 28px;margin-right: 39px;padding-right: 43px;padding-left: 50px;"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me</label></div>
            <p class="text-muted">Don't have an account?&nbsp;<a href="/signup/"> Signup</a>&nbsp;</p>
            <p class="text-muted"><a href="/signup/">Forgot your password</a>?&nbsp;</p>
        </form>
    </div>
</div>
{% endblock %}